<html>
  <head>
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>i5ting_ztree_toc:angular笔记</title>
		<link href="toc/style/github-bf51422f4bb36427d391e4b75a1daa083c2d840e.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="toc/style/github2-d731afd4f624c99a4b19ad69f3083cd6d02b81d5.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="toc/css/zTreeStyle/zTreeStyle.css" media="all" rel="stylesheet" type="text/css"/>
	  <style>
		pre {
		    counter-reset: line-numbering;
		    border: solid 1px #d9d9d9;
		    border-radius: 0;
		    background: #fff;
		    padding: 0;
		    line-height: 23px;
		    margin-bottom: 30px;
		    white-space: pre;
		    overflow-x: auto;
		    word-break: inherit;
		    word-wrap: inherit;
		}

		pre a::before {
		  content: counter(line-numbering);
		  counter-increment: line-numbering;
		  padding-right: 1em; /* space after numbers */
		  width: 25px;
		  text-align: right;
		  opacity: 0.7;
		  display: inline-block;
		  color: #aaa;
		  background: #eee;
		  margin-right: 16px;
		  padding: 2px 10px;
		  font-size: 13px;
		  -webkit-touch-callout: none;
		  -webkit-user-select: none;
		  -khtml-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		pre a:first-of-type::before {
		  padding-top: 10px;
		}

		pre a:last-of-type::before {
		  padding-bottom: 10px;
		}

		pre a:only-of-type::before {
		  padding: 10px;
		}

		.highlight { background-color: #ffffcc } /* RIGHT */
		</style>
  </head>
  <body>
	  <div>
				<div style='width:25%;'>
						<ul id="tree" class="ztree" style='width:100%'>

						</ul>
				</div>
        <div id='readme' style='width:70%;margin-left:20%;'>
          	<article class='markdown-body'>
            	<h1 id="-mvc-">第一天MVC设计模式</h1>
<h2 id="angular-">Angular简介</h2>
<h3 id="angular-">Angular的简要历史</h3>
<ul>
<li>Angular简称NG</li>
<li>Angular最初诞生于2009年,由<code>Misko Hevery</code>等人创建.</li>
<li>由于Misko Hevery之前是做Java后台开发.</li>
<li>所以,在这个框架中融入了许多后台编程的思想在其中</li>
<li>比如:MVC设计模式、数据绑定等等.</li>
<li>后来,该框架被Google看中,Google将其收购.现在被Google所维护.</li>
</ul>
<h3 id="angular-">Angular的重要特性.</h3>
<ul>
<li>MVC: 在前端引入了MVC的设计模式.</li>
<li>模块化开发</li>
<li>自动的双向数据绑定</li>
<li>语义化标签(自定义标签)</li>
<li>依赖注入</li>
<li>其核心就是通过指令扩展了HTML,通过表达式绑定数据到HTML</li>
<li>Angular不推崇DOM操作,也就是说在NG中几乎找不到任何的DOM操作.</li>
<li>ng最主要是用来实现spa应用. - 单页面应用程序</li>
</ul>
<h3 id="angular-">Angular的版本疑惑</h3>
<ul>
<li>目前Angular的版本有如下三种</li>
<li>1.x 比较稳定的版本,也是目前(2017.6)企业中的主流版本. 17年3月发布的1.6.4是1.x版本中最新的版本.</li>
<li>2.x 实际上从15年年底的时候,就发布了第一个alpha版本.直到16年9月才发布2.0的稳定版,其相对1.x版本做了很大的改动. 没有受到开发者的热烈追捧.</li>
<li>4.x 在2.x版本的ng遭受到失败后,Google立即启动了下1个版本的开发,由于新开发的版本做了相当多的改进和更新,所以下1个版本直接跳过3.0,叫做4.0, 并且第1个4.0的正式版已经于2017年的3月份发布. 然而,另外一个新的渐进式js框架-vue.js(中国人开发)正在挑战Angular的地位，而新的Angular版本是否能受到企业的青睐，让我们请时间做见证.</li>
<li>目前，尤其国内企业如果使用到了Angular,几乎绝大多数使用的仍然是1.x版本的Angular,因为1.x版本深受企业的认可,这也就是为什么直到4.0都发布了，Google还在维护1.x版本的原因. Google自己都不放弃1.x, 那么当然已经使用1.x的用户自然也不会放弃了.</li>
<li>版本历史参考 -&gt; <a href="https://code.angularjs.org/">点击链接</a></li>
</ul>
<h2 id="angular-">Angular初体验</h2>
<h3 id="angular-">Angular下载</h3>
<ul>
<li>官网下载 <a href="https://angularjs.org/">https://angularjs.org/</a></li>
<li>npm下载 <code>npm install angular</code></li>
<li>通过bower下载 <code>bower install angular</code></li>
</ul>
<h3 id="angular-">Angular体验</h3>
<ul>
<li><p>要实现的效果: 准备1个文本输入框,再准备1个h1标签.要求h1标签的文本和文本框的文字保持实时同步</p>
</li>
<li><p>使用原生js实现</p>
<ul>
<li>监听文本框的keyUp事件.</li>
<li>一旦触发该事件.</li>
<li>取出文本框中的文本设置给h1标签的innerText.</li>
<li>代码略过.</li>
</ul>
</li>
<li><p>使用Angular实现.</p>
<ul>
<li><p>第一步：引入Angular</p>
<pre><code>  &lt;script src=&quot;lib/angular.js&quot;&gt;&lt;/script&gt;
</code></pre></li>
<li><p>第二步: 指定ng管理的标签.为body标签写上ng-app属性.代表body标签被ng管理.</p>
<pre><code>  &lt;body ng-app&gt;
      &lt;input type=&quot;text&quot; name=&quot;&quot; id=&quot;&quot; ng-model=&quot;val&quot;&gt;
      &lt;h1&gt;｛｛val｝｝&lt;/h1&gt;
  &lt;/body&gt;
</code></pre></li>
<li><p>第三部: 数据绑定. 将文本框的数据和h1的数据进行绑定.</p>
</li>
</ul>
</li>
</ul>
<h2 id="mvc-">MVC 设计模式</h2>
<h3 id="-mvc">现实生活中的MVC</h3>
<ul>
<li>现实生活中的分工合作案例 -- 大饭店<ul>
<li>采购：负责原材料采购.</li>
<li>小工: 打杂,洗菜,洗碗.</li>
<li>厨师: 切菜 炒菜</li>
<li>服务员：端菜 迎宾</li>
<li>收银员: 收钱.</li>
<li>店长: 指挥协调其它人员工作.</li>
</ul>
</li>
<li>在一些街边小饭馆其实这些事情完全是交给一个人去做 --&gt; 老板<ul>
<li>所有的事情都是这1个人去做.</li>
</ul>
</li>
<li>对比一下这两种经营方式的区别<ul>
<li>大饭店: 正规,分工合作,各司其职,效率高.</li>
<li>小饭馆: 不正规,慌乱.效率低下.</li>
</ul>
</li>
<li>同样的事情两种实现方式<ul>
<li>都是将客人点的菜展示到餐桌上.</li>
<li>不同的单位使用了不同的流程.</li>
<li>大饭店: 每个人负责1个流程.高效并且可维护程度极高. 挂了1个人,不影响其它人.只换这1个人就可以.</li>
<li>小饭馆: 1个人负责整个流程,效率低下并且可维护程度极低,老板挂了,饭馆就得关门.</li>
</ul>
</li>
<li>由此可见,分工是多么的重要</li>
</ul>
<h3 id="-mvc">代码中的MVC</h3>
<ul>
<li>实际上,我们写网站的过程,和开饭店的原理和流程极其相似,我们写网站是将数据展示到页面上.</li>
<li>目前,我们写代码都是一股脑的将所有的代码写在一起,这样去写固然没有什么问题，因为你终究还是将效果实现了.</li>
<li>但是这样做的后果是可怕的,随着项目越来越大,你的代码将变得非常难以维护.</li>
<li>为了让我们的代码更加容易的维护,也为了使得我们的代码层次更加分明</li>
<li>我们将我们的代码分为三部分<ul>
<li>M - Model 数据 数据实体,用来保存页面要展示的数据.</li>
<li>V - View 视图 负责显示数据的,一般其实就是指的html页面.</li>
<li>C - Controller 控制器 控制整个业务逻辑,负责处理数据,比如数据的获取,以及数据的过滤，进而影响数据在视图上的展示.</li>
</ul>
</li>
<li>这样,这3部分各司其职,分工合作,我们的代码就会变得更有层次并容易维护.</li>
<li>这样的程序设计模式,我们就叫做MVC设计模式.</li>
<li>所以,MVC并不是一个新的知识点,而是一个新的写代码的套路.MVC是由后端而来,由于受到前端技术的限制便有了一些细节的调整，进而出现了很多MVC的衍生版（子集）如MVVM、MVW、MVP、MV*等。</li>
<li><code>注：做为初学可以不必过于在意这些概念。</code></li>
</ul>
<h2 id="-">模块化</h2>
<ul>
<li>使用AngularJS构建应用（App）时是以模块化（Module）的方式组织的，即将整个应用划分成若干模块，每个模块都有各自的职责，最终组合成一个整体。</li>
<li>采用模块化的组织方式，可以最大程度的实现代码的复用，可以像搭积木一样进行开发。</li>
</ul>
<h3 id="-">定义应用</h3>
<ul>
<li>通过为任一HTML标签添加ng-app属性，可以指定一个应用，表示此标签所包裹的内容都属于应用（App）的一部分。通俗的理解就是: ng-app属性标签被Angular管理，包括其中的子标签.Angular会认为这是一个应用，将其作为一个应用来看待。</li>
</ul>
<h3 id="-">定义模块</h3>
<ul>
<li>AngularJS提供了一个全局对象angular,调用该全局对象的module()方法可以创建一个模块.该方法返回一个模块对象.这个模块对象就是AngularJS用来管理应用的对象.</li>
</ul>
<pre><code>  &lt;!DOCTYPE html&gt;
  &lt;!--为html标签定义ng-app属性 代表整个文档都被ng管理--&gt;
  &lt;html lang=&quot;en&quot; ng-app=&quot;myApp&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;script src=&quot;lib/angular.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;

  &lt;script&gt;
      //调用全局对象angular的module方法创建一个模块.
      //第一个参数: 模块要管理的标签范围,写上ng-app属性的值.
      //第二个参数: 模块依赖,数组,如果不需要依赖,就直接写一个空数组就可以.
      //返回值:返回的app对象,我们可以认为这个对象就是用来管理这个模块的.
      var app = angular.module(&#39;myApp&#39;,[])
  &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre><h3 id="-">定义控制器</h3>
<ul>
<li><p>接下来我们可以通过app模块对象来创建控制器.</p>
</li>
<li><p>调用app模块对象的controller方法，就可以创建控制器.</p>
<pre><code>  //调用全局对象angular的module方法创建一个模块.
  //第一个参数: 模块要管理的标签范围,写上ng-app属性的值.
  //第二个参数: 模块依赖,数组,如果不需要依赖,就直接写一个空数组就可以.
  //返回值:返回的app对象,我们可以认为这个对象就是ng用来管理这个模块的.
  var app = angular.module(&#39;myApp&#39;,[])

  //调用app的controller方法创建控制器.
  //第一个参数: 要将创建的控制器关联到指定的View上，字符串.
  //第二个参数: 这是一个数组,数组的其中一个元素是&#39;$scope&#39;,
  //           数组的最后一个元素必须是1个function 参数是$scope
  //           先这么认为,就这么死写,后面会解释原因.
  app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {

  }]);
</code></pre></li>
<li><p>但是这个时候,我们只是创建了控制器,并没有将控制器和视图关联起来.</p>
</li>
<li><p>视图是用来负责显示数据的,控制器是来处理数据模型,并将数据模型给视图展示.</p>
</li>
<li><p>视图就是我们的html页面. 所以我们可以指定1个html元素(视图)与这个控制器相关联.</p>
</li>
<li><p>为这个html元素指定1个ng-controller属性.值为创建controller的第1个参数的值.</p>
<pre><code>  &lt;div ng-controller=&quot;demoCtrl&quot;&gt; &lt;!-- 这个时候,创建的控制器，就与这个视图关联起来了. --&gt;
      &lt;dl&gt;
          &lt;dt&gt;&lt;/dt&gt;
          &lt;dd&gt;&lt;/dd&gt;
      &lt;/dl&gt;
  &lt;/div&gt;
</code></pre></li>
<li><p>这个时候,创建的控制器，就与这个视图关联起来了</p>
</li>
<li><p>在控制器中就可以处理制造数据.视图中就可以显示模型数据了.</p>
</li>
</ul>
<h3 id="-">数据模型</h3>
<ul>
<li><p>控制器负责处理制造模型数据.</p>
</li>
<li><p>视图负责显示控制器制造的模型数据.</p>
</li>
<li><p>那么控制器如何制造数据呢?</p>
<pre><code>  app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
  //我们可以认为,$scope就是一个数据模型.
  //这是一个对象，
  //这个对象可以在控制器中访问,也可以在与控制器关联的视图中直接访问.
  //那么这个时候,控制器中可以将制造的数据放在这个$scope对象中.
  $scope.name = &#39;小明&#39;;
  $scope.info = &#39;我在学习前端开发&#39;;
  }]);
</code></pre></li>
<li><p>这个时候,控制器已经负责将数据模型构建完毕,那么视图中如何展示这些数据呢?<img src="images/331.png" alt="img"></p>
</li>
<li><p>最后,视图中就显示出来数据了.</p>
</li>
</ul>
<h2 id="angular-">Angular基本结构</h2>
<ul>
<li>1.指定Angular管理的范围.<code>ng-app</code></li>
<li>2.创建模块. <code>angular.module()</code></li>
<li>3.创建角色<ul>
<li>3.1创建控制器 <code>app.controller()</code></li>
<li>3.2指定与控制器关联的视图 <code>ng-controller</code></li>
</ul>
</li>
<li>4.控制器制造数据模型并附到$scope. <code>$scope.xx = yy;</code></li>
<li>5.在视图中显示模型数据. <code>｛｛xx｝｝</code></li>
</ul>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;!-- 1.指定整个html文档都被ng管理--&gt;
&lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Title&lt;/title&gt;
    &lt;script src=&quot;lib/angular.js&quot;&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;
    &lt;!-- 将视图与控制器相关联 --&gt;
    &lt;table ng-controller=&quot;stuList&quot;&gt;
        &lt;tr&gt;
            &lt;td&gt;编号&lt;/td&gt;
            &lt;td&gt;姓名&lt;/td&gt;
            &lt;td&gt;性别&lt;/td&gt;
            &lt;td&gt;年龄&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr ng-repeat=&quot;stu in students&quot;&gt;&lt;!-- 遍历数组,并循环生成html --&gt;
            &lt;td&gt;｛｛stu.id}}&lt;/td&gt;
            &lt;td&gt;｛｛stu.name}}&lt;/td&gt;
            &lt;td&gt;｛｛stu.gender}}&lt;/td&gt;
            &lt;td&gt;｛｛stu.age}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;script&gt;
    //2.创建模块
    var app = angular.module(&#39;hmApp&#39;,[]);
    //3.创建MVC角色. 控制器,视图
    app.controller(&#39;stuList&#39;,[&#39;$scope&#39;,function ($scope) {
        //制造数据模型,并绑定到$scope中.
        $scope.students = [
            {id:1,name:&#39;小明&#39;,gender:&#39;男&#39;,age:18},
            {id:2,name:&#39;小花&#39;,gender:&#39;女&#39;,age:16},
            {id:3,name:&#39;小强&#39;,gender:&#39;男&#39;,age:14},
            {id:4,name:&#39;小东&#39;,gender:&#39;男&#39;,age:19},
            {id:5,name:&#39;小常&#39;,gender:&#39;女&#39;,age:20}
        ];
    }]);
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><h2 id="angular-">Angular指令</h2>
<ul>
<li>HTML在构建应用（App）时存在诸多不足之处</li>
<li>AngularJS通过扩展一系列的HTML属性或标签来弥补这些缺陷</li>
<li>所谓指令就是AngularJS自定义的HTML属性或标签</li>
<li>这些指令都是以ng-做为前缀的，例如ng-app、ng-controller、ng-repeat等。</li>
</ul>
<h3 id="-">内置指令</h3>
<ul>
<li><code>ng-app</code> 指定应用根元素 也就是ng管理的范围.可以使用全局对象angular的module方法根据该属性的值创建模块对象.</li>
<li><code>ng-controller</code> 指定与控制器关联的视图.</li>
<li><code>ng-show</code> 控制元素及其子元素是否显示 true-&gt;显示 false-&gt;不显示</li>
<li><code>ng-hide</code> 控制元素及其子元素是否隐藏 true-&gt;隐藏 false-&gt;不隐藏</li>
<li><code>ng-if</code> 控制元素及其子元素是否创建 true-&gt;创建 false-&gt;删除.</li>
<li><code>ng-src</code> 增强图片路径. src=&quot;&quot;虽然能显示,但是会报错.报错的原因.</li>
<li><code>ng-href</code> 增强href路径</li>
<li><code>ng-class</code> 值为对象 <code>{red:true}</code> 表示会添加1个red类名到元素身上.<code>{red:false}</code>不会将red类名添加到元素身上.</li>
<li><code>ng-include</code> 将外部文件包含进来.一般用在页面的公共部分.被请求的页面是以ajax的方式请求的. <code>ng-inlcude=&quot;&#39;path&#39;&quot;</code>需要注意的是,给该属性赋值的时候,属性本身的值应该使用双引号引起来,但是其中的路径还要使用单引号引起来.</li>
<li><code>ng-disable</code> 是否禁用表单元素</li>
<li><code>ng-readonly</code> 是否只读</li>
<li><code>ng-checked</code>　原生的checked属性带有歧义,ng补充1个新的指令ng-checked 其值bool类型 true选中 false不选中.</li>
<li><code>ng-selected</code> 是否选中</li>
<li>后续的学习中我们还会介绍其他的内置指令.</li>
</ul>
<h3 id="-">自定义指令</h3>
<ul>
<li><p>AngularJS不仅提供了功能强大的内置指令.还提供了一套允许我们自定义指令的机制.</p>
</li>
<li><p>如果我们觉得ng提供的指令不够强大和好用,我们完全可以定义我们自己的指令.</p>
</li>
<li><p>模块对象app,提供了一个<code>directive</code>方法,这个方法就可以让我们自定义指令.</p>
</li>
<li><p>该方法需要两个参数</p>
<ul>
<li><p>第1个参数 指令的名称 - 指令名称不能包含符号，如果指令名称是<code>tag</code>,那么直接使用tag就行. 如果指令是<code>hmTag</code>,那么要使用<code>hm-tag</code></p>
</li>
<li><p>第2个参数 回调函数</p>
<ul>
<li>在ng解析这个指令的时候,就会自动去执行这个回调函数.</li>
<li>这个回调函数必须要按照要求返回1个对象.<ul>
<li>restrict: ECMA E:Element C:Class M:Mark A:Attribute 自定义指令</li>
<li>replace: bool值,是否替换原有标签.</li>
<li>template: 模板,自定义指令将被替换成什么.</li>
<li>templateUrl:加载外部文件 给一个需要加载的文件的路径.</li>
</ul>
</li>
</ul>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Title&lt;/title&gt;
  &lt;script src=&quot;lib/angular.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div hm-tag&gt;&lt;/div&gt; &lt;!--加了这个自定义指令的标签中,就会被自动渲染自定义指令对应的template --&gt;
&lt;script&gt;
  var app = angular.module(&#39;hmApp&#39;,[]);
  app.directive(&#39;hmTag&#39;,function () {
      return {
          restrict:&#39;EA&#39;,
          replace:false,
          template:&#39;&lt;h1&gt;我是中国人,我爱自己的祖国&lt;/h1&gt;&#39;
      };
  });
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre></li>
</ul>
</li>
</ul>
<h2 id="-">数据单向绑定</h2>
<h3 id="-">数据单向绑定</h3>
<ul>
<li><p>所谓的数据的单向绑定,指的就是在控制器中制造数据模型，并将数据模型显示在视图上的过程.</p>
</li>
<li><p>处理方式其实我们前面也完全学习过了.</p>
</li>
<li><p>数据单向绑定的步骤</p>
<ul>
<li><p>1.先在控制器中制造数据.</p>
</li>
<li><p>2.在视图中使用绑定符号｛｛｝｝ 将控制器制造的数据模型显示.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Title&lt;/title&gt;
  &lt;script src=&quot;lib/angular.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div ng-controller=&quot;demoCtrl&quot;&gt;
  &lt;h1&gt;&lt;/h1&gt;
  &lt;ul&gt;
      &lt;li ng-repeat=&quot;item in data.courses&quot;&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
&lt;script&gt;
  var app = angular.module(&#39;hmApp&#39;,[]);
  app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
      $scope.data = {
          name:&quot;小明&quot;,
          courses:[&#39;html&#39;,&#39;css&#39;,&#39;js&#39;]
      };
  }]);
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre></li>
</ul>
</li>
<li><p>需要特别说明的是<code>ng-bind</code>指令和<code>｛｛｝｝</code>符号的效果是一样的.</p>
</li>
<li><p><code>｛｛｝｝</code>符号是<code>ng-bind</code>指令的简写形式.</p>
</li>
<li><p>所以,上面的代码也可以这样写.</p>
<pre><code>  &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
      &lt;h1 ng-bind=&quot;data.name&quot;&gt;&lt;/h1&gt;
      &lt;!-- ng-bind指令与｛｛｝｝符号完全等价 --&gt;
      &lt;ul&gt;
          &lt;li ng-repeat=&quot;item in data.courses&quot; ng-bind=&quot;item&quot;&gt;&lt;/li&gt;
      &lt;/ul&gt;
  &lt;/div&gt;
</code></pre></li>
<li><p>虽然<code>ng-bind</code>与<code>｛｛｝｝</code>使用效果是一样的，但是在更多的地方我们仍然使用<code>｛｛｝｝</code>的场景更多一些</p>
</li>
<li><p>比如: 这样的情况使用<code>｛｛｝｝</code>就方便的很多了.<code>大家好,我叫｛｛name｝｝,我今年岁｛｛age｝｝了</code></p>
</li>
</ul>
<h3 id="-">解决闪烁问题</h3>
<ul>
<li>虽然<code>｛｛｝｝</code>符号和<code>ng-bind</code>指令作用是一样的.但是他们在效果上有一些些区别</li>
<li>使用<code>｛｛｝｝</code>符号有可能会出现闪烁现行(当吧ng文件的引入放在页面后面的时候)</li>
<li>出现闪烁的原因<ul>
<li>浏览器先渲染html页面.遇到ng指令不认识 原因输出.</li>
<li>而后,ng开始工作,渲染绑定数据.</li>
<li>所以，中间有这么一个闪烁的过程.</li>
</ul>
</li>
<li>解决闪烁问题<ul>
<li>第一种方式: 将ng文件的引入放在head标签中.</li>
<li>第二种方式: 为标签添加1个<code>ng-cloak</code>指令.就可以解决.</li>
</ul>
</li>
<li><code>ng-cloak</code>的原理.ng会自动的生成1段css代码,将这个标签隐藏.当数据绑定工作完成之后,再显示这个标签.</li>
</ul>
<h2 id="-">数据双向绑定</h2>
<ul>
<li><p><code>ng-model</code>指令可以作用于表单元素.</p>
</li>
<li><p>该指令的作用</p>
<ul>
<li>声明1个变量.该属性的值就是声明的变量.</li>
<li>这个变量的值和表单元素的值是相互影响的.</li>
<li>表单元素的值发生变化,这个变量的值也会跟着发生变化.</li>
<li>这个变量的值发生变化,表单元素的值也会跟着发生变化.</li>
</ul>
</li>
<li><p>这样的数据绑定,就叫做双向数据绑定.</p>
<pre><code>  &lt;body&gt;
      &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
          &lt;input type=&quot;text&quot; ng-model=&quot;val&quot;&gt; &lt;!-- 使用ng-model指令声明的变量val，
          被文本框的值绑定 文本框的值改变会影响val的值,val的值得改变也会影响文本框的值, 
          这个时候，文本框的值和变量val是一个双向绑定的关系.--&gt;
          &lt;h1&gt;｛｛val}}&lt;/h1&gt;
          &lt;button ng-click=&quot;show()&quot;&gt;按钮&lt;/button&gt; &lt;!-- 按钮点击的时候,
          执行控制器绑定在$scope上的show方法，这个方法中直接修改了val
          变量的值, 你会发现文本框中的数据也会跟着一起改变.
          这就是双向数据绑定--&gt;
      &lt;/div&gt;
      &lt;script&gt;
          var app = angular.module(&#39;hmApp&#39;,[]);
          app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
              $scope.show = function () {
                  $scope.val = 199;
              }
          }]);
      &lt;/script&gt;
  &lt;/body&gt;
</code></pre></li>
</ul>
<h2 id="ng-init-">ng-init指令</h2>
<ul>
<li><p>数据模型的初始化,我们一般是放在控制器中.</p>
</li>
<li><p>为$scope对象附加属性的方式来追加.</p>
</li>
<li><p>然后在视图中就可以直接绑定数据.</p>
</li>
<li><p>实际上,Angular还提供了一种更为简便的方式来初始化模型数据.就是使用<code>ng-init</code>属性.</p>
</li>
<li><p>使用ng-init初始化的变量在控制器中通过$scope仍然可以访问</p>
<pre><code>  &lt;div ng-init=&quot;name=&#39;jack&#39;;age=10&quot;&gt; &lt;!-- 初始化多个变量的话中间使用分号隔开 --&gt;
      ｛｛name}}
      ｛｛age}}
  &lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;,[]);
  &lt;/script&gt;
</code></pre></li>
<li><p>对于一些复杂的数据模型,比如数组、对象明显在controller中初始化就方便的很多.</p>
</li>
</ul>
<h2 id="angular-">Angular事件处理</h2>
<h3 id="ng-click">ng-click</h3>
<ul>
<li><p>原生js中如果需要绑定点击事件,在html元素中使用<code>onclick</code>属性,指定该属性的值为一个函数调用.</p>
</li>
<li><p>那么这个函数就是全局的函数,会造成全局污染.</p>
<pre><code>  &lt;script&gt;
      function login(){
          .......
      }
  &lt;/script&gt;
  &lt;button onclick=&quot;login()&quot;&gt;登录&lt;/button&gt;
</code></pre></li>
<li><p>Angular为了解决这个问题,使用了1个ng指令<code>ng-click</code></p>
</li>
<li><p>这是Angular中的点击指令,为其赋值一个函数,不同的是,这个函数需要在控制器中绑定到$scope对象中.</p>
</li>
<li><p>那么这个函数就不再是一个全局的函数,就不存在全局污染的问题了.</p>
<pre><code>  &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
      &lt;!-- 指定按钮的ng-click为login--&gt;
      &lt;button ng-click=&quot;login()&quot;&gt;按钮&lt;/button&gt;
  &lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;,[]);
      app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
          //在控制器中为$scope绑定login函数.这样在视图中就可以调用
          $scope.login = function () { 
              alert(&quot;正在登录,请稍后.....&quot;);
          }
      }]);
  &lt;/script&gt;
</code></pre></li>
</ul>
<h3 id="ng-mouseover">ng-mouseover</h3>
<ul>
<li>其实原理是一样的,这是ng的指令 用来绑定鼠标移入事件.`  </li>
</ul>
<p>​      按钮
​      </p>
<p>​      var app = angular.module(&#39;hmApp&#39;,[]);
​      app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
​          $scope.login = function () {
​              alert(&quot;正在登录,请稍后.....&quot;);
​          };
​          $scope.mover = function () {
​              console.log(&quot;鼠标移入了.....&quot;);
​          }
​      }]);</p>
<h3 id="-">其它事件指令</h3>
<ul>
<li>其实你应该已经猜测到一些规律了.</li>
<li>Angular的事件指令是在原生指令属性的基础之上把on去掉替换为ng-</li>
<li>onclick --&gt; ng-click</li>
<li>onmouseover --&gt; ng-mouseover</li>
<li>onkeyup --&gt; ng-keyup</li>
<li>......</li>
</ul>
<h2 id="-">数据处理</h2>
<h3 id="ng-repeat-">ng-repeat指令</h3>
<ul>
<li><p>用于循环生成标签,并绑定数据.</p>
</li>
<li><p>可以遍历数组.</p>
<pre><code>  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;div ng-controller=&quot;processDataView&quot;&gt;
          &lt;ul&gt;
              &lt;!-- ng-repeat指令代表重复生成这个标签.值代表遍历数组中的每一个元素 并绑定显示 --&gt;
              &lt;li ng-repeat=&quot;item in lessons&quot;&gt;｛｛item}}&lt;/li&gt;
          &lt;/ul&gt;
      &lt;/div&gt;
      &lt;script&gt;
          var app = angular.module(&#39;hmApp&#39;,[]);
          app.controller(&#39;processDataView&#39;,[&#39;$scope&#39;,function ($scope) {
              $scope.lessons = [&#39;html&#39;,&#39;css&#39;,&#39;js&#39;,&#39;jQuery&#39;];
          }])
      &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre></li>
<li><p>可以遍历对象</p>
<pre><code>  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;div ng-controller=&quot;processDataView&quot;&gt;
          &lt;ul&gt;
              &lt;li ng-repeat=&quot;item in lessons&quot;&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;table&gt;
              &lt;tr&gt;
                  &lt;!--遍历对象,item迭代变量直接就是每一个属性的值--&gt;
                  &lt;td ng-repeat=&quot;item in student&quot;&gt;｛｛item}}&lt;/td&gt;
                  &lt;!--如果希望得到属性名称和属性值 可以像下面这样
                      如果是数组,key拿到的就是下标          --&gt;
                  &lt;td ng-repeat=&quot;(key,item) in student&quot;&gt;｛｛key}}:｛｛item}}&lt;/td&gt;
              &lt;/tr&gt;
          &lt;/table&gt;
      &lt;/div&gt;
      &lt;script&gt;
          var app = angular.module(&#39;hmApp&#39;,[]);
          app.controller(&#39;processDataView&#39;,[&#39;$scope&#39;,function ($scope) {
              $scope.lessons = [&#39;html&#39;,&#39;css&#39;,&#39;js&#39;,&#39;jQuery&#39;];
              $scope.student = {
                  name:&quot;杰克&quot;,
                  age:18,
                  gender:&quot;男&quot;
              };
          }])
      &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre></li>
</ul>
<h3 id="ng-switch">ng-switch</h3>
<ul>
<li><p>该指令的作用与js的<code>switch-case</code>非常相像</p>
</li>
<li><p>判断变量的值,如果变量的之与列出的任意1个值相等,则执行其中的逻辑.</p>
</li>
<li><p>语法规则</p>
<pre><code>  &lt;!-- 判断变量item的值 可以直接简写为ng-switch --&gt;
  &lt;li ng-repeat=&quot;item in list&quot; ng-switch on=&quot;item&quot;&gt;
      &lt;span ng-switch-when=&quot;html&quot;&gt;我喜欢html&lt;/span&gt;
      &lt;p ng-switch-when=&quot;ccs&quot;&gt;哈哈css&lt;/p&gt;
      &lt;a ng-switch-when=&quot;js&quot; href=&quot;#&quot;&gt;哦js&lt;/a&gt;
      &lt;span ng-switch-when=&quot;jQuery&quot;&gt;like jQuery&lt;/span&gt;
      &lt;span ng-switch-default&gt;啦啦啦,没有匹配到&lt;/span&gt;
  &lt;/li&gt;
  &lt;!-- 在重复li标签时 到底嵌套那1个 根据when的值匹配来决定 当没有任何匹配的时候 就是default--&gt;
</code></pre></li>
<li><p>也可以下面这样使用</p>
<pre><code>  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;div ng-controller=&quot;demoCtrl&quot; ng-switch=&quot;name&quot;&gt;
          &lt;div ng-switch-when=&quot;rose&quot;&gt;Rose&lt;/div&gt;
          &lt;div ng-switch-when=&quot;jack&quot;&gt;Jack&lt;/div&gt;
          &lt;div ng-switch-when=&quot;lily&quot;&gt;Lily&lt;/div&gt;
          &lt;div ng-switch-when=&quot;poly&quot;&gt;Poly&lt;/div&gt;
          &lt;div ng-switch-default&gt;默认选项&lt;/div&gt;
      &lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;,[]);
      app.controller(&#39;demoCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
          $scope.name = &quot;jack&quot;;
      }]);
  &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre></li>
</ul>
<h2 id="tabs-">Tabs案例</h2>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;title&gt;Tab 标签&lt;/title&gt;
    &lt;style&gt;
        body {
            margin: 0;
            padding: 0;
            background-color: #F7F7F7;
        }

        .tabs {
            width: 400px;
            margin: 30px auto;
            background-color: #FFF;
            border: 1px solid #C0DCC0;
            box-sizing: border-box;
        }

        .tabs nav {
            height: 40px;
            text-align: center;
            line-height: 40px;
            overflow: hidden;
            background-color: #C0DCC0;
            display: flex;
        }

        nav a {
            display: block;
            width: 100px;
            border-right: 1px solid #FFF;
            color: #000;
            text-decoration: none;
        }

        nav a:last-child {
            border-right: 0 none;
        }

        nav a.active {
            background-color: #9BAF9B;
        }

        .cont {
            overflow: hidden;
        }

        .cont ol {
            line-height: 30px;
        }

    &lt;/style&gt;
    &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app=&quot;hmApp&quot;&gt;
    &lt;div class=&quot;tabs&quot; ng-controller=&quot;TabsCtrl&quot;&gt;
        &lt;nav&gt;
            &lt;a href=&quot;javascript:;&quot; ng-click=&quot;switch(&#39;local&#39;)&quot; ng-class=&quot;{active:flag==&#39;local&#39;}&quot;&gt;国内新闻&lt;/a&gt;
            &lt;a href=&quot;javascript:;&quot; ng-click=&quot;switch(&#39;global&#39;)&quot; ng-class=&quot;{active:flag==&#39;global&#39;}&quot;&gt;国际新闻&lt;/a&gt;
            &lt;a href=&quot;javascript:;&quot; ng-click=&quot;switch(&#39;sport&#39;)&quot; ng-class=&quot;{active:flag==&#39;sport&#39;}&quot;&gt;体育新闻&lt;/a&gt;
            &lt;a href=&quot;javascript:;&quot; ng-click=&quot;switch(&#39;funny&#39;)&quot; ng-class=&quot;{active:flag==&#39;funny&#39;}&quot;&gt;娱乐新闻&lt;/a&gt;
        &lt;/nav&gt;
        &lt;!-- 判断key数据的值 --&gt;
        &lt;div ng-switch=&quot;flag&quot;&gt;
            &lt;!-- 当key值funny时 --&gt;
            &lt;section class=&quot;cont&quot; ng-switch-when=&quot;local&quot;&gt;
                &lt;ol&gt;
                    &lt;li&gt;河南再次发生矿难，死伤人数超砖石ddddddddddddd过100dddads&lt;/li&gt;
                    &lt;li&gt;禽流感在全国物农延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大旱，农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                    &lt;li&gt;禽流感在全农作物继续蔓延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                &lt;/ol&gt;
            &lt;/section&gt;
            &lt;!-- 当key值local时 --&gt;
            &lt;section class=&quot;cont&quot; ng-switch-when=&quot;global&quot;&gt;
                &lt;ol&gt;
                    &lt;li&gt;河感在生矿难，死伤在全10&lt;/li&gt;
                    &lt;li&gt;禽流感在感在广1处继续蔓延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大旱，农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广在全国暴发&lt;/li&gt;
                    &lt;li&gt;禽流感在全国多处继续蔓延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大旱，农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                &lt;/ol&gt;
            &lt;/section&gt;
            &lt;!-- 当key值sports时 --&gt;
            &lt;section class=&quot;cont&quot; ng-switch-when=&quot;sport&quot;&gt;
                &lt;ol&gt;
                    &lt;li&gt;河南再次发生矿难，死伤人数超过100&lt;/li&gt;
                    &lt;li&gt;禽流感在全国多处农作物农延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大旱，农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                    &lt;li&gt;禽流感在全农作物继续蔓延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                &lt;/ol&gt;
            &lt;/section&gt;
            &lt;!-- 当key值global时 --&gt;
            &lt;section class=&quot;cont&quot; ng-switch-when=&quot;funny&quot;&gt;
                &lt;ol&gt;
                    &lt;li&gt;河南再次发生矿难，死伤人数超过100&lt;/li&gt;
                    &lt;li&gt;禽流感次发生蔓延，温家宝指示&lt;/li&gt;
                    &lt;li&gt;南方大旱，农作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广减产绝收发&lt;/li&gt;
                    &lt;li&gt;禽流感在全国多作物减产绝收面积上亩&lt;/li&gt;
                    &lt;li&gt;猪流感在广东群体性暴发&lt;/li&gt;
                &lt;/ol&gt;
            &lt;/section&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
        var app = angular.module(&#39;hmApp&#39;,[]);
        app.controller(&#39;TabsCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
            $scope.flag = &#39;local&#39;;
            $scope.switch = function (key) {
                $scope.flag = key;
            }
        }]);
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre><h1 id="-">依赖注入服务</h1>
<h2 id="angular-">Angular作用域</h2>
<ul>
<li><p>1.相互独立的视图/控制器，他们的作用域($scope)也是相互独立,互不影响的.</p>
<pre><code>  &lt;!DOCTYPE html&gt;
  &lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
  &lt;head&gt;
      &lt;meta charset=&quot;UTF-8&quot;&gt;
      &lt;title&gt;Title&lt;/title&gt;
      &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;div ng-controller=&quot;demoCtrl1&quot;&gt;&lt;/div&gt;
      &lt;!--在与第2个控制器关联的视图上,无法访问与第1个视图相关联的控制器的数据--&gt;
      &lt;div ng-controller=&quot;demoCtrl2&quot;&gt;&lt;/div&gt;
      &lt;div ng-controller=&quot;demoCtrl3&quot;&gt;&lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;,[]);
      app.controller(&#39;demoCtrl1&#39;,[&#39;$scope&#39;,function ($scope) {
          $scope.name = &quot;杰克&quot;;
          //为第1个控制器/视图的$scope绑定了一个数据.
          //这个数据只能在与当前控制器相互关联的视图上访问.
          //不能在与别的控制器关联的视图上访问.
      }]);
      app.controller(&#39;demoCtrl2&#39;,[&#39;$scope&#39;,function ($scope) {

      }]);
      app.controller(&#39;demoCtrl3&#39;,[&#39;$scope&#39;,function ($scope) {

      }]);
  &lt;/script&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</code></pre></li>
<li><p>2.父子关系的视图所对应的控制器,在子视图/控制器中可以访问父视图/控制器中$scope的数据.</p>
<ul>
<li><p>子视图中可以访问父视图中的数据.</p>
</li>
<li><p>父视图不能访问子视图中的数据.</p>
</li>
<li><p>如果访问的变量在视图中有定义,那么优先访问子视图自己的,如果该变量子视图自己没有定义,这个时候再去尝试查找父视图中是否有定义这个数据.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot; ng-app=&quot;hmApp&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Title&lt;/title&gt;
  &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div ng-controller=&quot;fatherCtrl&quot;&gt;
  &lt;div ng-controller=&quot;sonCtrl&quot;&gt;
      &lt;span&gt;在子视图中访问父视图作用域中的数据: &lt;/span&gt;
      &lt;!--当视图存在父子关系的时候,子视图可以访问父视图的数据--&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
  var app = angular.module(&#39;hmApp&#39;,[]);
  app.controller(&#39;fatherCtrl&#39;,[&#39;$scope&#39;,function ($scope) {
      $scope.name = &quot;杰克&quot;;
  }]);
  app.controller(&#39;sonCtrl&#39;,[&#39;$scope&#39;,function ($scope) {

  }]);
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre></li>
</ul>
</li>
<li><p>3.根作用域</p>
<ul>
<li><p>我们可以使用<code>ng-init</code>指令来初始化一个变量,在父级元素上.</p>
</li>
<li><p>那么这个父级元素下所有的子视图都可以访问.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;Title&lt;/title&gt;
  &lt;script src=&quot;lib/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div ng-app=&quot;hmApp&quot; ng-init=&quot;name=&#39;jack&#39;&quot;&gt;
      &lt;div ng-controller=&quot;demoCtrl1&quot;&gt;&lt;/div&gt;
      &lt;div ng-controller=&quot;demoCtrl2&quot;&gt;&lt;/div&gt;
      &lt;div ng-controller=&quot;demoCtrl3&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;,[]);
      app.controller(&#39;demoCtrl1&#39;,[&#39;$scope&#39;,function ($scope) {

      }]);
      app.controller(&#39;demoCtrl2&#39;,[&#39;$scope&#39;,function ($scope) {

      }]);
      app.controller(&#39;demoCtrl3&#39;,[&#39;$scope&#39;,function ($scope) {

      }]);
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre></li>
</ul>
</li>
</ul>
<h2 id="-">过滤器</h2>
<pre><code>在AngularJS中使用过滤器格式化展示数据，在“{{}}”中使用“|”来调用过滤器，使用“:”传递参数。
</code></pre><h3 id="-">内置过滤器</h3>
<ul>
<li><p>日期过滤器 <code>｛{now|date:&#39;yyyy-MM-dd hh:mm:ss&#39;}}</code></p>
</li>
<li><p>货币符号过滤器 <code>｛{price|currency}}</code>默认是美元符号如果想要显示其它货币符号<code>｛{price|currency:&#39;￥&#39;}}这样显示的就是人民币符号</code>保留指定位数的小数<code>｛{price|currency:&#39;￥&#39;:2}}这样显示的就是人民币符号 并四舍五入保留两位小数</code></p>
</li>
<li><p>转换为大写</p>
<pre><code>  ｛{info|uppercase}}
   将info的值转换为大写显示
</code></pre></li>
<li><p>转换为小写</p>
<pre><code>  ｛{info|lowercase}}
   将info的值转换为小写显示
</code></pre></li>
<li><p>截取数组/字符串中指定位数的元素.</p>
<pre><code>  ｛{arr|limitTo:n}}
   正数从左往右截取n个元素
   负数从右往左截取n个元素
   arr可以是1个数组
   也可以是一个字符串.字符串的话就截取每一个字符.
</code></pre></li>
<li><p>处理数字的过滤器<code>number</code>可以控制小数的位数<code>｛{num|number:2}} 保留2位小数输出.</code></p>
</li>
<li><p>json过滤器 将对象转换为json字符串</p>
<pre><code>  ｛{obj|json}} 将obj对象转换为json字符串输出.实际上,不使用json过滤器它也会这么做.
</code></pre></li>
<li><p>orderBy过滤器</p>
<pre><code>  ｛{students|orderBy:&#39;score&#39;}} 将student数组中的对象以score属性为参照进行排序 默认是升序.
  ｛{students|orderBy:&#39;score&#39;:true}} 降序
</code></pre></li>
<li><p>filter 过滤器</p>
<pre><code>  ｛{students|filter:{score:90} }} 过滤出数组中对象分数等于90的对象.
   特别注意: 参数对象必须和后面的大括弧有一个空格.
</code></pre></li>
</ul>
<h3 id="-">自定义过滤器</h3>
<ul>
<li><p>模块对象提供了一个filter方法,允许我们自定义过滤器.</p>
</li>
<li><p>该方法的参数说明</p>
<ul>
<li><p>第一个参数: 过滤器名称</p>
</li>
<li><p>第二个参数: 回调函数 - 当执行我们自定义的过滤器的时候,就会自动来执行这个回调函数.</p>
<pre><code>  &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
      ｛{name|highven}}
  &lt;/div&gt;

  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;, []);
      app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;, function ($scope) {
          $scope.name = &quot;jack&quot;;
      }])
      app.filter(&#39;highven&#39;,function () {
          console.log(&quot;我被执行了&quot;);
      });
  &lt;/script&gt;
</code></pre></li>
</ul>
</li>
<li><p>通过调试发现,回调函数确实被执行了,但是报错了.报错的原因是我们没有按照要求来写这个回调函数的参数和返回值.</p>
</li>
<li><p>要求这个回调函数必须返回一个函数.返回的这个函数就是过滤器,来处理过滤数据的.</p>
</li>
<li><p>这个返回的函数</p>
<ul>
<li><p>第1个参数: 需要处理过滤的数据.</p>
</li>
<li><p>后面的参数: 处理数据的时候,自己还需要的另外的参数</p>
</li>
<li><p>返回值: 处理完毕后返回的数据,被显示出来.</p>
<pre><code>&lt;!-- 就会将name传递给自定义过滤器返回的函数处理 最终显示函数的返回值 --&gt;
&lt;span&gt;｛{name|highven}}&lt;/span&gt;
&lt;script&gt;
  app.filter(&#39;highven&#39;,function () {
      return function(data){
          return data+&quot;哈哈&quot;;
      }
  });
&lt;/script&gt;
</code></pre></li>
</ul>
</li>
<li><p>自定义过滤器案例:将一个英文句子中首个单词的首字母大写.</p>
<pre><code>  app.filter(&#39;firstBig&#39;,function () {
      return function (data) {
          return data[0].toUpperCase()+data.slice(1);
          //slice从指定位置提取字符串 没有第2个参数就一直提到最后.
      }
  });
</code></pre></li>
</ul>
<h2 id="-">依赖注入</h2>
<pre><code>Angular内部封装了很多的模块,我们作为开发者在进行开发的时候,直接拿来使用就行，
也就是说,如果我们要使用别人封装好的模块,就必须要先引入别人的模块.
没有这个模块,可能就实现不了这个功能.
也就是我们依赖于这个模块.
比如jQuery是我们依赖的.
</code></pre><ul>
<li>理解依赖注入<ul>
<li>依赖关系: 就是模块之间的依赖关系.比如<code>bootstrap</code>依赖于<code>jQuery</code>,它们之间的关系就是依赖关系.</li>
<li>依赖解决: 建立这种依赖关系的方案.比如之前我们使用1个<code>scripr.src</code>来解决依赖关系.</li>
<li>注入: 是解决依赖的另外一种方式. 你可以形象的理解，A依赖于B,那么就像打针一样,把B注入到A中,那么A中就可以使用B了.它们的依赖关系就建立成功了.</li>
<li>所以,依赖注入是建立依赖关系的一种方式.</li>
</ul>
</li>
</ul>
<h3 id="-">行内式注入</h3>
<ul>
<li>在视图中之所以能够访问到控制器绑定到$scope中的值,完全是因为$scope的存在.</li>
<li>实际上,$scope是Angular的一个模块.这个模块在视图中可以直接访问使用.</li>
<li>但是在控制器的回调函数中,无法直接访问使用这个$scope模块.</li>
<li>所以,这个回调函数必须要依赖$scope模块.</li>
<li>创建控制器的时候.第2个参数是一个数组.</li>
<li>数组的最后一个元素是控制器的回调函数.</li>
<li>前面的元素其实就是表明回调函数要依赖Angular的那些模块.</li>
<li><code>app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;, function ($scope) {}])</code>第1个元素. &#39;$scope&#39; 表明控制器要依赖$scope这个模块.回调函数的参数: Angular会将$scope模块通过函数的形参注入到函数的内部,让函数去使用.实际上,回调函数的形参是可以任意的,这里之所以取得和模块的名字一样,是为了让我们的代码看起来更加具备可读性.Angular提供的模块还有很多,我们也可以将其注入到控制器中.<code>app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;,&#39;$http&#39; function ($scope,$http) {}])表明,控制器要依赖$scope模块和$http模块.那么这个时候,Angular会将这两个模块通过函数的形参</code>按照顺序<code>注入.</code></li>
<li>这样的注入方式,我们就叫做<code>行内式注入``                                                  var app = angular.module(&#39;hmApp&#39;, []);          /*          * 第二个参数是一个数组.          *      数组的第一个元素, &#39;$scope&#39;表示控制器要依赖 $scope 这个模块.          *      Angular会通过回调函数的参数将$scope模块注入到回调函数内部.          *      供控制器回调函数内部使用.          *      这个时候,回调函数内部就可以通过形参拿到$scope这个模块.          *      将其与视图共享之,传递数据之.          */          app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;, function ($scope) {                  $scope.name = &quot;杰克&quot;;          }])</code></li>
</ul>
<h3 id="-">推断式注入</h3>
<ul>
<li><p>推断式注入的写法很简单,第2个参数直接写1个回调函数就可以.</p>
<pre><code> app.controller(&#39;demoCtrl&#39;, function ($scope) {
      $scope.name = &quot;杰克&quot;;
 });
</code></pre></li>
<li><p>Angular在注入的时候,会根据回调函数的参数名称进行推断.</p>
</li>
<li><p>如果参数名称是$scope,那么就会将$scope这个模块进行注入</p>
</li>
<li><p>如果参数名称是$http,那么就会将$http这个模块进行注入</p>
</li>
<li><p>所以,使用这种注入方式,回调函数的形参必须要和Angular的模块名称一致.否则将无法注入.</p>
</li>
<li><p>推断式注入的缺点： 当进行代码压缩的时候,就会出问题,因为代码压缩会将形参替换.那么这个时候Angular就无法正常注入了.</p>
</li>
<li><p>所以,我们推荐使<code>行内式注入</code>.</p>
</li>
</ul>
<h2 id="angular-">Angular服务</h2>
<pre><code>服务，可以理解为就是一个对象或者函数,对外提供特定的功能.
其实你完全可以认为它就是一个模块,不同的模块提供不同的功能.
当我们要使用某1个模块的时候,将其注入到控制器中便可以使用.
</code></pre><h3 id="-log-">$log服务</h3>
<ul>
<li>作用:在控制台输出调试信息. $log是1个对象.</li>
<li>调试信息分为如下几个级别.<ul>
<li><code>error</code> 错误信息</li>
<li><code>debug</code> debug信息</li>
<li><code>info</code> 打印信息</li>
<li><code>log</code> 正常打印日志</li>
<li><code>warn</code> 警告信息</li>
</ul>
</li>
<li>分别调用$log对象的这几个方法就可以输出对应格式的信息.</li>
<li>注意： 要正确调整浏览器控制台log过滤.</li>
</ul>
<h3 id="-timeout-">$timeout服务</h3>
<p>作用：在指定的时间做事情,$timeout是一个函数.`  </p>
<p>  我的名字叫做｛{name}}</p>
<p>​      var app = angular.module(&#39;hmApp&#39;, []);
​      app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;,&#39;$timeout&#39;, function ($scope,$timeout) {
​          $scope.now = new Date();
​          //表示3秒钟后为name赋值
​          $timeout(function () {
​              $scope.name = &quot;小明&quot;;
​          },3000);
​      }]);</p>
<h3 id="-interval-">$interval服务</h3>
<ul>
<li><p>作用:每隔指定的时间就做指定的事情.</p>
<pre><code>  &lt;body&gt;
  &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
      &lt;!--所以,这里的数据每一秒钟就变化一次--&gt;
      &lt;p&gt;现在时间是:｛{now|date:&#39;yyyy-MM-dd HH:mm:ss&#39;}}&lt;/p&gt;
  &lt;/div&gt;
  &lt;script&gt;
      var app = angular.module(&#39;hmApp&#39;, []);
      app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;,&#39;$interval&#39;, function ($scope,$interval) {
          $interval(function () {
              $scope.now = new Date();
          },1000);//每隔一秒钟就为now重新赋值.
      }]);
  &lt;/script&gt;
  &lt;/body&gt;
</code></pre></li>
<li><p>$interval函数,返回1个数据.调用<code>$interval.cancel(返回值)</code>可以停止计时器<code>现在时间是:｛{now|date:&#39;yyyy-MM-dd HH:mm:ss&#39;}}      停止          var app = angular.module(&#39;hmApp&#39;, []);      app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;,&#39;$interval&#39;, function ($scope,$interval) {          var stop = $interval(function () {              $scope.now = new Date();          },1000);          $scope.stop = function () {              $interval.cancel(stop);          }      }]);</code></p>
</li>
</ul>
<h3 id="-http-">$http服务</h3>
<h4 id="-http-">$http服务的基本使用</h4>
<ul>
<li><p>作用:用于向服务器发送异步请求 这是1个函数.</p>
</li>
<li><p>参数:传入1个符合条件的对象.</p>
<ul>
<li><code>url</code>:请求地址</li>
<li><code>method</code>:请求方式get/post</li>
<li><code>data</code>:{} 当请求方式为post的时候 使用data传递数据.</li>
<li><code>params</code>:{} 当请求方式为get的时候,使用params传递数据.</li>
<li><code>headers</code>:{} 设置请求头信息</li>
</ul>
</li>
<li><p><code>.then()</code>函数传入两个回调函数.第1个回调,当请求成功后执行,参数<code>info</code>。通过info.data拿到返回的数据第2个回调,当请求失败后执行.</p>
</li>
<li><p>案例演示</p>
<pre><code>  &lt;body&gt;
      &lt;div ng-controller=&quot;demoCtrl&quot;&gt;
          &lt;table&gt;
              &lt;tr&gt;
                  &lt;th&gt;姓名&lt;/th&gt;
                  &lt;th&gt;年龄&lt;/th&gt;
              &lt;/tr&gt;
              &lt;tr ng-repeat=&quot;stu in data&quot;&gt;&lt;td&gt;｛{stu.name}}&lt;/td&gt;&lt;td&gt;｛{stu.age}}&lt;/td&gt;&lt;/tr&gt;
          &lt;/table&gt;
      &lt;/div&gt;
      &lt;script&gt;
          var app = angular.module(&#39;hmApp&#39;, []);
          app.controller(&#39;demoCtrl&#39;, [&#39;$scope&#39;,&#39;$http&#39;,function ($scope,$http) {
              $http({
                  url:&#39;example.php&#39;,
                  method:&#39;get&#39;
              }).then(function (info) {
              $scope.data = info.data;
              },function () {

              });
          }]);
      &lt;/script&gt;
  &lt;/body&gt;
</code></pre></li>
</ul>
<h4 id="-http-">$http服务传递数据的 格式</h4>
<ul>
<li><p>当请求类型是<code>get</code>时,向服务器传递的数据必须要放在<code>params</code>中，以对象的形式.</p>
<pre><code>  &lt;div ng-controller=&quot;loginCtrl&quot;&gt;
      用户名: &lt;input type=&quot;text&quot; ng-model=&quot;uName&quot;&gt;
      &lt;br&gt;
      密码: &lt;input type=&quot;password&quot; ng-model=&quot;pwd&quot;&gt;
      &lt;br&gt;
      &lt;button ng-click=&quot;login()&quot;&gt;登录&lt;/button&gt;
  &lt;/div&gt;
  &lt;script&gt;
      app.controller(&#39;loginCtrl&#39;, [&#39;$scope&#39;, &#39;$http&#39;,function ($scope,$http) {
          $scope.login = function () {
              $http({
                  url:&#39;login.php&#39;,
                  method:&#39;get&#39;,
                  params:{
                      uName:$scope.uName,
                      pwd:$scope.pwd
                  }
              }).then(function (info) {

              }).catch(function () {

              });
          }
      }]);
  &lt;/script&gt;
</code></pre></li>
<li><p>当请求类型是post时,向服务器发送的数据必须要放在<code>data</code>中.设置发送数据的类型.<code>data</code>要以键值对的字符串形式.</p>
</li>
<li><p>客户端以post方式向服务器发送数据时.必须要指定发送数据的类型.</p>
</li>
<li><p>因为不同的数据格式在服务器处理的方式是不一样的.</p>
</li>
<li><p>常见的数据格式</p>
<ul>
<li>application/json --&gt; 这种格式叫做formdata</li>
<li>application/x-www-form-urlencoded --&gt; 这种格式叫做payload</li>
</ul>
</li>
<li><p>jQuery的Ajax默认的数据类型就是<code>application/x-www-form-urlencoded</code></p>
</li>
<li><p>AngularJS的$http默认支持的是<code>application/json</code></p>
</li>
</ul>
<h4 id="-http-">.$http跨域</h4>
<ul>
<li>基于浏览器的同源策略,Ajax异步是无法实现跨域请求的.</li>
<li>实现跨域请求的解决方案<ul>
<li>src属性是天然支持跨域的.</li>
<li>所以,我们可以利用<code>script</code>标签的<code>src</code>属性来跨域请求数据.</li>
<li>如果使用<code>script</code>标签的<code>src</code>属性来跨域请求,会将请求回来的数据作为js代码执行</li>
</ul>
</li>
</ul>
<h5 id="angularjs-">AngularJS的跨域</h5>
<p>AngularJS已经帮我们封装好了一切.</p>
<pre><code>  $http({
      url:&#39;&#39;,//请求地址
      method:&#39;jsonp&#39;,
      params:{
          //传递额外数据.
      }
  }).then(function(info){

  }).catch(function(){

  });
</code></pre>
          	</article>
        </div>
		</div>
  </body>
</html>
<script type="text/javascript" src="toc/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="toc/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="toc/js/ztree_toc.js"></script>
<script type="text/javascript" src="toc_conf.js"></script>

<SCRIPT type="text/javascript" >
<!--
$(document).ready(function(){
    var css_conf = eval(markdown_panel_style);
    $('#readme').css(css_conf)
    
    var conf = eval(jquery_ztree_toc_opts);
		$('#tree').ztree_toc(conf);
});
//-->
</SCRIPT>